<!DOCTYPE html>
<html>
    <head>
        <title>News</title>
    </head>

    <body>
        <h1>Latest News</h1>
        <div>
        {% if stories %}

                {% for story in stories %}
                    <p style="font-size: 25px"> <b>{{ story.title_text  }}</b></p>
                    {{ story.pub_date }}<br>
                    <br>
                    {{ story.body_text }}<br>



                {% endfor %}

        {% else %}
            <strong>Error</strong>
        {% endif %}
        </div>
        <div>

        </div>
    </body>

</html>
